body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f37a7a;
  font-family: Arial, sans-serif;
}

.heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calculator {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  background: rgb(145, 107, 107);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: #0a0707;
  margin-bottom: 10px;
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #ddd;
}